.botoncinco {
  position: relative;
  width: 80px;
  height: 30px;
  overflow: hidden;
  background-color: black;
  cursor: pointer;
  border-radius: 5px;
}
.botoncinco:disabled:hover {
  background-color: red;
  cursor: auto;
}
.botoncinco:hover {
  background-color: #2f9b05;
}

.botoncinco span {
  transition: 0.5s ease-in-out;
  position: absolute;
  left: 35%;
  top: 20%;
  border-radius: 10px;
  color: white;
  pointer-events: none;
}
.botoncinco:hover span {
  left: 0;
}

.botoncinco .icono {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 8%;
  left: -20px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.botoncinco:hover .icono {
  left: calc(100% - 20px);
  opacity: 1;
}

.botoncinco svg {
  color: white;
  width: 25px;
  height: 25px;
}

.botoncuatro:hover {
  background-color: #2f9b05;
}

.botoncuatro:disabled:hover {
  background-color: red;
  cursor: auto;
}

.botoncuatro {
  position: relative;
  width: 80px;
  height: 30px;
  overflow: hidden;
  background-color: black;
  cursor: pointer;
  border-radius: 5px;
}
.botoncuatro span {
  transition: 0.5s ease-in-out;
  position: absolute;
  right: 35%;
  top: 20%;
  border-radius: 10px;
  color: white;
  pointer-events: none;
}

.botoncuatro:hover span {
  right: 0;
}

.botoncuatro .icono1 {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 3;
  top: 8%;
  right: -20px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.botoncuatro:hover .icono1 {
  right: calc(100% - 20px);
  opacity: 1;
}
.botoncuatro svg {
  color: white;
  width: 25px;
  height: 25px;
}

.paginado {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  gap: 20px; /* separacion interna  */

  padding-bottom: 30px;
}

.inputpaginado {
  color: white;

  background: black;
  width: 30px;
  text-indent: 0%;
  text-align: center;
  height: 100%;
  font-size: 1rem;
  transition: all 0.5s;
  outline: none;
}

.padreinputpaginado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padreinputpaginado input:focus {
  background-color: #0dc629;
  transition: all 0.5s;
}
