.order {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.botonSubmit:hover {
  cursor: pointer;
}

.form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 20px;
  margin: 20px;
}
