.dosiconos {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 17px;
}

.icons3 {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .icons3 {
    gap: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .Table2 {
    width: 100%;
    margin-top: 0rem;
  }
}

@media screen and (max-width: 768px) {
  .Table2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;
    margin-left: auto;
    margin-right: auto;
    top: -60px;
    overflow-x: unset;
  }
  /* .centrarfilter {
    margin-left: 40px;
  } */
}
